body {
    min-height: 100vh;
    font-family: 'Titillium Web', sans-serif;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
}

aside {
    width: 33%;
    text-align: right;
}

header nav {
    width: 33%;
}

.header-logo a {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%, 0);
}

.header-logo img {
    max-width: 80px;
}

.logo:hover {
    cursor: pointer;
}

.logo img {
    width: 300px;
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

header,
main,
footer {
    float: left;
    width: 100%;
}

header,
footer {
    padding: 20px 0;
}

header {
    color: #FFF;
    font-size: 15px;
    width: 100%;
}

.header-divider {
    height: 20px;
    width: 1px;
    background: rgba(245, 244, 252, 0.6);
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    position: relative;
}

header nav {
    display: inline-block;
}

.logo {
    margin-right: 20px;
    display: inline-block;
}

nav ul li {
    display: inline-block;
}

nav ul li:not(:last-of-type) {
    margin-right: 20px;
}

footer {
    background-color: #CF6766;
    color: #FFF;
}


/* 
	--------------------------------------------------------

	Reset Browser Style

	--------------------------------------------------------
*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #031424;
    color: #FFF;
}

.clearfix:after {
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}


/* 
--------------------------------------------------------

Typography - Font Displays

--------------------------------------------------------
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Rokkitt', serif;
}

p {
    font-family: 'Titillium Web', sans-serif;
}


/* 
--------------------------------------------------------

Header

--------------------------------------------------------
*/

header {
    position: absolute;
    top: 0;
    transition: 0.3s ease-in-out;
    background-color: transparent;
    padding-top: 40px;
    z-index: 10;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.fixed {
    background-color: rgba(207, 103, 102, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    z-index: 11;
}

header aside ul li {
    display: inline-block;
    margin-left: 15px;
    text-align: center;
    width: 15px;
}

header aside ul li a {
    display: block;
}

header aside ul li i {
    transition: 0.3s ease-in-out;
}

header aside ul li:hover i {
    color: #CF6766;
}

header.fixed aside ul li:hover i {
    color: #FFF;
}

header .header-logo a:before {
    content: "";
    display: inline-block;
    background-color: rgba(207, 103, 102, 1);
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotate(45deg);
    top: -22px;
    left: 0px;
    z-index: -13;
}


/* 
--------------------------------------------------------

Footer

--------------------------------------------------------
*/

footer {
    padding-top: 30px;
    padding-bottom: 20px;
}

footer h4 {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}

footer p.copyright {
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
}

footer ul {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer ul li {
    font-size: 34px;
}


/* 
--------------------------------------------------------

Repeatable Elements

--------------------------------------------------------
*/

.background-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.94);
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}


/* 
--------------------------------------------------------

Frontpage

--------------------------------------------------------
*/

#intro {
    background-repeat: no-repeat;
    background-image: url('../images/slider1.png');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 5;
    height: 100vh;
    position: relative;
}


/* 
--------------------------------------------------------

Audio Player 

--------------------------------------------------------
*/

.audio-player {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#bg-image3 {
    background-size: 100% auto !important;
}

.player {
    position: relative;
}

.player.horizontal {
    background-color: #151518;
}

.intro .player.horizontal {
    background-color: transparent;
}

@media (min-width: 768px) {
    .player.horizontal {
        height: 100px;
    }
}

.player.horizontal .container {
    background-color: #151518;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    position: relative;
    padding: 0;
}

@media (min-width: 768px) {
    .player.horizontal .container {
        padding-left: 0;
        padding-right: 15px;
        display: flex;
        align-items: flex-start;
    }
}

.player.horizontal .info-album-player {
    display: inline-block;
    padding: 10px 10px 10px 0px;
    border-right: 1px solid #333;
    text-align: center;
    float: left;
}

@media (min-width: 768px) {
    .player.horizontal .info-album-player {
        width: 235px;
        text-align: left;
    }
}

.player.horizontal .info-album-player .album-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .player.horizontal .info-album-player .album-cover {
        float: left;
        margin-right: 11px;
    }
}

.player.horizontal .info-album-player .album-title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 14px;
    margin-bottom: 5px;
    font-size: 14px;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .player.horizontal .info-album-player .album-title {
        margin-top: 26px;
    }
}

.player.horizontal .info-album-player .artist-name {
    color: #CF6766;
    font-size: 12px;
    line-height: 12px;
}

.player.horizontal .player-content {
    position: relative;
}

@media (min-width: 768px) {
    .player.horizontal .player-content {
        width: calc(100% - 435px);
        float: left;
        height: 90px;
    }
}

.player.horizontal .audiojs {
    width: auto;
    display: inline-block;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: visible;
    margin-left: 30px;
    position: relative;
    top: 46px;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
    .player.horizontal .audiojs {
        width: calc(100% - 30px);
    }
}

.player.horizontal .audiojs .play-pause {
    border: none;
    width: 64px;
    height: 64px;
    background: transparent;
    border-radius: 50%;
    position: relative;
    top: -28px;
    z-index: 1;
    border: 2px solid #FFF;
}

.player.horizontal .audiojs .play-pause p {
    width: auto;
    height: 55px;
}

.player.horizontal .audiojs .play-pause .play {
    background: url("../images/players-intro.png") 17px 16px no-repeat;
}

.player.horizontal .audiojs .play-pause .pause {
    background: url("../images/players-intro.png") 15px -42px no-repeat;
}

.player.horizontal .audiojs .play-pause .loading {
    background: url("../images/players-intro.png") 16px -219px no-repeat;
}

.player.horizontal .audiojs .scrubber,
.player.horizontal .audiojs .loaded,
.player.horizontal .audiojs .progress {
    border: 0;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 10px;
    height: 4px;
}

.player.horizontal .audiojs .scrubber {
    background-color: #2A2A2A;
    margin-left: 30px;
    margin-right: 0;
    width: calc(100% - 340px);
}

.player.horizontal .audiojs .loaded {
    background-color: #353535;
}

.player.horizontal .audiojs .progress {
    background-color: #FFF;
}

.player.horizontal .audiojs .time {
    bottom: -50px;
    width: 100%;
    position: absolute;
    text-shadow: none;
    border: none;
    height: auto;
    line-height: normal;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #CF6766;
}

.audiojs .time em {
    color: #CF6766;
}

@media (min-width: 768px) {
    .player.horizontal .audiojs .time {
        right: 245px;
        top: -13px;
        width: auto;
        bottom: auto;
    }
}

.player.horizontal .audiojs .error-message {
    margin-left: 62px;
    height: auto;
    line-height: normal;
}

.player.horizontal .nextprev {
    position: relative;
    overflow: hidden;
    width: 152px;
    height: 27px;
    top: -7px;
    left: 17px;
}

@media (max-width: 767px) {
    .player.horizontal .nextprev {
        top: -19px;
    }
}

.player.horizontal .nextprev .next {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    text-align: left;
    direction: ltr;
    width: 40px;
    height: 27px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center -114px;
    background-image: url("../images/players-intro.png");
    background-size: contain;
    right: 0;
}

.player.horizontal .nextprev .prev {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    text-align: left;
    direction: ltr;
    width: 40px;
    height: 27px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center -173px;
    background-image: url("../images/players-intro.png");
    background-size: contain;
    left: 0;
}

.player.horizontal .nextprev .next,
.player.horizontal .nextprev .prev {
    position: absolute;
    top: 0;
    background-size: auto;
    display: inline-block;
    cursor: pointer;
}

.player.horizontal .playlist {
    position: relative;
    top: 59px;
    left: 13px;
    font-size: 12px;
    line-height: normal;
}

@media (max-width: 767px) {
    .player.horizontal .playlist {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .player.horizontal .playlist {
        position: absolute;
        top: 33px;
        left: 124px;
    }
}

.player.horizontal .playlist li {
    display: none;
}

.player.horizontal .playlist li.playing {
    display: block;
}

.player.horizontal .playlist a {
    color: #ffffff;
    text-transform: uppercase;
}

.player.horizontal .btnloop {
    cursor: pointer;
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    text-align: left;
    direction: ltr;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center -233px;
    background-image: url("../images/players-intro.png");
    background-size: contain;
    background-size: auto;
    position: absolute;
    top: 44px;
    right: 37px;
    display: none;
    transition: 0.3s ease-in-out;
}

.volume-slider {
    position: absolute;
    top: 37px;
    right: 74px;
}

a.off-canvas {
    display: none;
}

.player.horizontal .btnloop.looped {
    background-color: rgba(255, 255, 255, 0.25);
}

.video-small .video-inner {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
}

video:hover {
    cursor: pointer;
}

span.close-icon {
    position: absolute;
    right: 150px;
    top: 85px;
    font-size: 30px;
    z-index: 50000;
    border: 2px solid #FFF;
    border-radius: 100%;
    overflow: hidden;
    padding: 10px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s ease-in-out;
    pointer-events: none;
    z-index: 9000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-wrapper.video-small .close-icon {
    right: 15px;
    top: 15px;
    font-size: 18px;
    height: 40px;
    width: 40px;
    padding: 8px;
    left: auto;
}

.video-wrapper.video-small:hover .close-icon {
    opacity: 1;
    pointer-events: all;
}

body.fullscreen .video-wrapper.video-active .fullscreen-icon {
    opacity: 1;
    pointer-events: all;
    right: 30px;
    bottom: -30px;
}

body.fullscreen #video {
    width: 100%;
    height: auto;
}

body.fullscreen {
    overflow: hidden;
}

body.fullscreen .close-icon,
body.fullscreen .audio-player,
body.fullscreen header {
    display: none !important;
}

span.fullscreen-icon {
    position: absolute;
    right: 10.8%;
    bottom: 15px;
    font-size: 30px;
    z-index: 1000000000;
    opacity: 0;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

span.fullscreen-icon:hover {
    cursor: pointer;
}

.video-wrapper.video-active .fullscreen-icon {
    opacity: 1;
    pointer-events: all;
}

.video-wrapper.video-active:hover .close-icon {
    opacity: 1;
    pointer-events: all;
}

span.close-icon:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .player.horizontal .btnloop {
        display: block;
    }
}

.player.horizontal .btnloop.active {
    background-position: center -349px;
}

.video-wrapper {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 6;
    text-align: center;
    height: calc(100vh - 100px);
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s ease-in-out;
}

.video-wrapper.video-small {
    max-width: 500px;
    top: 65px;
    left: 15px;
    height: auto;
    position: fixed;
}

.video-wrapper.video-small #video {
    height: auto;
    max-width: 100%;
}

.video-wrapper.video-active {
    background-color: rgba(0, 0, 0, 1);
}

#video {
    transition: 0.3s ease-in-out;
    height: 86.2vh;
    width: auto;
    display: inline-block;
    position: relative;
    z-index: 10;
}

.video-active #video {
    opacity: 1 !important;
}

.play-pause,
.play-btn,
.pause {
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

.play-pause:hover,
.play:hover,
.pause:hover {
    opacity: 1;
}

#spotify-follow {
    border: none;
    border-left: 1px solid #333;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}

#spotify-follow iframe {
    margin-right: -25px;
}


/* 
--------------------------------------------------------

Upcoming Shows

--------------------------------------------------------
*/

h2 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    line-height: 1.2em;
}

#upcoming-shows {
    padding-top: 100px;
    padding-bottom: 100px;
}

#upcoming-shows h2 {
    text-align: center;
}

#upcoming-shows section>p {
    text-align: center;
    color: #707281;
    margin-top: 5px;
}

.events-list {
    margin: 35px 0;
}

.events-list>li {
    border-bottom-color: #1b1c3b;
    display: block;
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 25px 0;
}

.events-list>li:last-of-type {
    border-bottom-color: transparent;
}

.view-all-shows,
.view-all-shows:hover,
.view-all-shows:focus,
.view-all-shows:active {
    color: #CF6766;
    text-align: center;
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0 15px;
}

.view-all-shows i {
    margin-left: 7px;
}

.events-list>li a>div {
    display: inline-block;
    position: relative;
    font-size: 15px;
    height: 60px;
    float: left;
    color: #707281;
}

.event-day {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #FFF;
}

.event-date {
    width: 10%;
    text-align: left;
}

.event-date-container {
    text-align: center;
    display: inline-block;
}

.event-month {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    line-height: 1em;
    color: #FFF;
}

.event-venue i,
.event-time i {
    margin-right: 7px;
}

.event-img-title {
    width: 38%;
}

.event-img img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    height: auto;
    border-width: 0;
}

.event-loc-title {
    display: inline-block;
    font-size: 20px;
    padding-top: 8px;
    vertical-align: top;
}

.event-title {
    color: #FFF;
    font-weight: 700;
}

.event-location {
    font-size: 15px;
    line-height: 18px;
    padding-top: 2px;
}

.event-img {
    display: inline-block;
}

.event-buy-button {
    display: inline-block;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 1px;
    text-indent: 1px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid;
    text-transform: uppercase;
    width: 140px;
    text-align: center;
    border-color: #CF6766;
    color: #FFF;
    transition: 0.3s ease-in-out;
}

.events-list>li>a:hover .event-buy-button {
    background-color: #CF6766;
    border-color: transparent;
}

.event-venue {
    letter-spacing: 1px;
    width: 25%;
    line-height: 60px;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-time {
    width: 10%;
    line-height: 60px;
}

.event-buy {
    width: 17%;
    text-align: right;
    line-height: 60px;
    display: inline-block;
}

.event-img {
    width: 70px;
    height: 60px;
    margin-right: 20px;
    position: relative;
}


/* 
--------------------------------------------------------

Newsletter

--------------------------------------------------------
*/

#newsletter {
    padding: 105px 0px 120px 0px;
    background-image: url('../images/newsletter-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
    position: relative;
}

#newsletter h2 {
    text-align: center;
}

#newsletter p {
    margin: 10px 26% 20px 26%;
}

#newsletter form {
    text-align: center;
}

#newsletter form input,
#newsletter form button {
    display: inline-block;
}

#newsletter form input {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 19px 18px 18px 24px;
    background-color: #fff;
    font-weight: 400;
    line-height: 1.2;
    color: #999;
    border: 0;
    width: 33%;
    min-height: 53px;
    outline: none;
    color: #000;
}

#song-preview {
    padding-bottom: 100px;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.additional-albums article:not(:last-of-type) {
    margin-right: 50px;
}

.additional-albums {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.additional-albums .additional-albums article {
    text-align: center;
}

.additional-albums .additional-albums h3 {
    text-align: center;
}

.additional-albums img {
    max-width: 230px;
}

.additional-albums figure {
    position: relative;
}

.additional-albums figure i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #1ed760;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.additional-albums figure:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    display: block;
    transition: 0.3s ease-in-out;
}

.additional-albums figure:hover:before {
    opacity: 0.8;
}

.additional-albums figure:hover i {
    opacity: 1;
}

.additional-albums h3 {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

#song-preview figure {
    text-align: right;
}

#song-preview figure img {
    max-height: 420px;
    width: auto;
}

#newsletter form button {
    margin-left: -10px;
    width: 16%;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1px 15px;
    position: relative;
    line-height: 1;
    top: -1px;
    border-radius: 0 30px 30px 0;
    min-height: 54px;
    border: none;
    background-image: none;
    cursor: pointer;
    background-color: #CF6766;
    color: #FFF;
}

#volume-wrapper {}

#volume-slider {
    position: absolute;
    right: 84px;
    bottom: 32px;
    margin: 0 auto;
    height: 5px;
    width: 100px;
    background: #555;
    border-radius: 15px;
    z-index: 1000000000;
    position: absolute;
}

#volume-slider:before {
    content: "\f028";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: -28px;
    top: -6px;
    opacity: 0.8;
}

#volume-slider.sound-disabled:before {
    content: "\f6a9";
}

#volume-slider.medium-sound:before {
    content: "\f027";
}

span.tooltip {
    position: absolute;
    background-color: #031424;
    border-radius: 8px;
    padding: 6px 10px;
    max-width: 200px;
    line-height: 1.3;
    top: -40px;
    font-size: 13px;
    left: -37px;
    z-index: 999999999;
    transform: perspective(1px) translateZ(0);
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* Pulse */

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }
    75% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
    }
}

@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

span.tooltip:before {
    position: absolute;
    z-index: -1;
    content: '';
    left: calc(50% - 10px);
    bottom: -7px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #031424 transparent transparent transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #FFF;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
}

.ui-slider-range-min {
    height: 5px;
    width: 100px;
    position: absolute;
    background: #CF6766;
    border: none;
    border-radius: 10px;
    outline: none;
}