@media screen and (max-width: 1280px) {
    header {
        padding-left: 30px;
        padding-right: 30px;
    }
    .logo img {
        max-width: 300px;
    }
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    #newsletter form button {
        min-width: 208px;
    }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 991px) {
    #song-preview figure {
        text-align: center;
    }
    iframe {
        width: 100%;
    }
    header nav {
        width: 50%;
    }
    #intro {
        height: calc(100vh - 155px);
    }
    #spotify-follow {
        display: none;
    }
    .player.horizontal .player-content {
        width: calc(100% - 100px);
    }
    .player.horizontal .info-album-player {
        width: 259px;
    }
    .player.horizontal .audiojs {
        margin-left: 35px;
        width: calc(100% - 35px);
    }
    .player.horizontal .audiojs .scrubber {
        margin-left: 35px;
    }
    .player.horizontal .playlist {
        /* right: -180px; */
        top: -5px;
        right: 0;
        left: 135px;
        max-width: 100px;
    }
    .player.horizontal .audiojs .time {
        left: auto;
        bottom: 28px;
        right: -225px;
    }
    #newsletter p {
        margin-left: 0;
        margin-right: 0;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {}

@media screen and (max-width: 767px) {
    span.tooltip:before {
        left: 42px;
    }
    span.tooltip {
        left: 15px;
    }
    a.off-canvas {
        display: block;
    }
    .additional-albums {
        display: block;
    }
    .additional-albums article:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 25px;
    }
    #volume-slider {
        display: none;
    }
    .two-columns {
        grid-template-columns: 1fr;
        text-align: center;
    }
    #song-preview figure {
        margin-left: auto;
        margin-right: auto;
    }
    header .container {
        max-width: 100%;
    }
    .event-venue {
        display: none !important;
    }
    .logo img {
        max-width: 200px;
    }
    header nav ul {
        width: 70vw;
        position: fixed;
        background-color: rgb(3, 20, 36);
        left: -50%;
        transform: translate(-50%, 0%);
        top: 0;
        height: 100vh;
        transition: 0.3s ease-in-out;
        padding-top: 70px;
        z-index: 10000000000;
    }
    header nav.active ul {
        /* left: 22%; */
        transform: translate(114%, 0);
    }
    body {
        transition: 0.3s ease-in-out;
    }
    header nav ul li {
        color: #FFF;
        width: 100%;
        padding-left: 30px;
        padding-right: 15px;
        padding-top: 20px;
        padding-bottom: 15px;
    }
    header nav ul li:not(:last-of-type) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
    i#close-offcanvas {
        position: absolute;
        right: 15px;
        top: 15px;
        color: #FFF;
        font-size: 25px;
    }
    body:before {
        height: 100%;
        content: "";
        width: 100%;
        position: absolute;
        z-index: 8;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: 0.3s ease-in-out;
        pointer-events: none;
    }
    body.offcanvas-active {
        overflow: hidden;
    }
    body.offcanvas-active:before {
        opacity: 1;
    }
    aside {
        display: none;
    }
    #intro {
        height: calc(100vh - 45px);
    }
    .off-canvas {
        font-size: 20px;
        margin-left: -15px;
    }
    .player.horizontal .info-album-player {
        display: none;
    }
    .player.horizontal .player-content {
        width: 100%;
    }
    .event-img {
        display: none;
    }
    .event-time {
        display: none !important;
    }
    #video {
        height: auto;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .video-small #video {
        top: 25%;
    }
    .event-location {
        display: none;
    }
    .player.horizontal .player-content {
        height: 99px;
    }
    .audio-player {
        z-index: 15;
    }
    .video-active .logo {
        display: none !important;
    }
    .video-wrapper.video-small #video {
        position: fixed;
        left: 50%;
        max-width: 320px;
    }
    .video-wrapper {
        height: calc(100vh - 87px);
    }
    .video-active span.close-icon {
        opacity: 1;
    }
    .video-small span.close-icon {
        position: fixed;
        right: 0px !important;
        top: 27% !important;
        margin-top: -100px;
        transform: translate(-50%, -50%);
    }
    #newsletter form input {
        width: 100%;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        max-width: 320px;
        text-align: center;
    }
    #newsletter form button {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        margin: 0;
        margin-top: 15px;
        width: 100%;
        max-width: 320px;
    }
    h2 {
        font-size: 24px;
    }
    .player.horizontal .audiojs .scrubber {
        width: calc(100% - 145px);
    }
    .event-title {
        color: #FFF;
        font-weight: 700;
        font-size: 15px;
        margin-left: 15px;
        margin-top: 14px;
    }
    .header-logo img {
        max-width: 80px;
    }
    .player.horizontal .audiojs .time {
        right: auto;
        left: 67%;
        max-width: 100px;
    }
}

@media screen and (max-width: 540px) {}